.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  width: 100vw;
  height: 100vh;

  background-color: #E9ECF2;
}

.timer {
  color: #F23E2E;
  font-size: 120px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 100px;
  height: 60px;
  padding: 5px;

  color: #E9ECF2;
  background-color: #A61F12;

  cursor: pointer;

  transition: all 0.2s;

  font-size: 24px;

  border-radius: 5px;
  border: 0;
}

.buttons button:hover {
  color: #A61F12;
  background-color: #E9ECF2;
  border: 1px solid #A61F12;
}
